.star-box {
    /* border: dotted red 2px; */
    height: 300px;
    width: 330px;
    min-height: 300px;
    min-width: 300px;
    max-height: 400px;
    max-width: 400px;
    display: flex;
}

.rotateBar {
    z-index: 6;
}

.options {
    display: flex;
    flex-direction: column;
}

.drag-icon {
    float: right;
    color: #ccc;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    cursor: move;
    margin-left: 2px;
}

.rotate-icon {
    float: right;
    color: #ccc;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    margin-top: 2px;
    cursor: grab;
    margin-left: 2px;
}

.delete-icon {
    float: right;
    color: #ccc;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
    margin-left: 2px;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    min-height: 250px;
    max-height: 400px;
    height: 400;
    padding: 0 5px;
    float: right;
}

.boundary {
    border: dotted #ccc 2px;
    cursor: move;
}

.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}

.hidden {
    display: none;
}

circle {
    filter: drop-shadow(0px 0px 8px rgba(220, 211, 211, 0.8));
  }