<div class="star-box outside" cdkDragBoundary=".example-boundary" [cdkDragConstrainPosition]="computeDragRenderPos" cdkDrag
[ngStyle]="style" mwlResizable [resizeSnapGrid]="{left: 30, right: 30}" (resizing)="resizing($event)">
    <svg class="star-box inside" [attr.height]="aConst.height" [attr.width]="aConst.width" [ngStyle]="{'transform':'rotate(' + rotateValue + 'deg)'}"
    [ngStyle]="style" mwlResizable [resizeSnapGrid]="{left: 30, right: 30}" (resizing)="resizing($event)">
        <circle *ngFor="let star of aConst.stars" [attr.cx]="star.x" [attr.cy]="star.y" r="5" fill="white"></circle>
        <line *ngFor="let line of aConst.connections" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" style="stroke:rgb(255, 255, 255);stroke-width:2"></line>
    </svg>

    <!-- TODO fix button is only clickable once -->
    <abbr title="Resize Constellation">
        <div class="resize-grip" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true }"></div>
    </abbr>

    <!-- TODO fix position change on resize -->
    <div class="options">
        <abbr title="Drag Constellation">
            <mat-icon class="drag-icon" cdkDragHandle>open_with</mat-icon>
        </abbr>
        <abbr title="Rotate Constellation">
            <mat-icon class="rotate-icon" (click)="this.rotating = !this.rotating">rotate_90_degrees_ccw</mat-icon>
        </abbr>
    </div>

    <input #rotation *ngIf="this.rotating" type="range" orient="vertical" class="custom-range  my-2" min="0" max="360" [(ngModel)]="rotateValue" [value]='rotateValue' (change)="setRotate(rotation.value)">
</div>