.menubar {
    height: 5%;
    background-color: rgba(46, 43, 43, 0.75);
}

.constellationButton {
    height: 20px;
    line-height: 20px;
}

.spacer {
    flex: 1 1 auto;
}

mat-button-toggle {
    height: 25px;
}
mat-icon {
    display: block;
}

.timer {
    color: white;
}

.time {
    color: white;
    min-width: 25px;
}