<app-menubar (buttonPressed)="conductor.play($event)"></app-menubar>
<div class="example-boundary">
    <app-constellation class="stars" *ngFor="let i of draggableConstellations" [aConst]="i"></app-constellation>
    <app-conductor #conductor></app-conductor>
</div>

<!-- <div class="constellationList"> -->
        <table class="constellationList" >
            <thead>
                <tr>
                    <th>Constellations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let constellation of constellations">
                    <td>{{constellation.name}}</td>
                    <td (click)="addToSky(constellation.name)">
                        <!-- <app-constellation class="stars" [aConst]="constellation"></app-constellation> -->
                        <div class="star-box">
                            <svg class="boundary" [attr.height]=300 [attr.width]=300>
                                <circle *ngFor="let star of constellation.stars" [attr.cx]="star.x" [attr.cy]="star.y" r="5" fill="white"></circle>
                                <line *ngFor="let line of constellation.connections" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" style="stroke:rgb(255, 255, 255);stroke-width:2"></line>
                            </svg>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
<!-- </div> -->